@use '../utils' as *;

// SI Header Area
.si__header{
    &__area{
        padding-top: 24px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
       @media #{$mm}{
        display: none;
       }
    }
    &__logo{
        margin-top: 7px;
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__menubar{
        display: inline-block;
        margin-top: 5px;
    }
    &__menu{
        border: 1px solid var(--si-secondary-color);
        padding: 13px 10px;
        width: 672px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            li{
                display: inline;
                margin-left: 28px;
                a{
                    display: inline-block;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    -ms-border-radius: 25px;
                    -o-border-radius: 25px;
                }
            }
            .current__item{
                padding: 9px 18px;
                background: var(--si-theme-color);
                border-radius: 25px;
                margin-left: -21px;
                margin-right: 17px;;
                a{
                    color: var(--si-color-white);
                }
            }
        }
    }
    &__right{
        display: flex;
        align-items: center;
        i{
            color: var(--si-secondary-color);
            font-size: 20px;
        }
    }
    &__offcanvas__bar{
        width: 61px;
        height: 61px;
        background: var(--si-theme-color);
        display: block;
        direction: rtl;
        border-radius: 50%;
        margin-left: 38px;
        &__inner{
            position: relative;
            left: -17px;
            top: 17px;
        }
        .line-one{
            width: 21px;
            height: 3px;
            background: #fff;
            display: block;
            margin-bottom: 7px;
            transition: .5s;

        }        
        .line-two{
            width: 31px;
            height: 3px;
            background: #fff;
            display:block;
            margin-bottom: 7px;
        }        
        .line-three{
            width: 26px;
            height: 3px;
            background: #fff;
            display:block;
            transition: .5s;
        }
        &:hover .line-one,
        &:hover .line-three{
            width: 31px;
        }
    }
}
