/* Varrible CSS */
:root{
    --si-body-color:#7A7A7A;
    --si-secondary-color:#002841;
    --si-theme-color:#DF2E2E;
    --si-theme-bg:#fdf1f1;
    --si-color-white:#fff;
    --si-font-family: "Inter", sans-serif;
}